* 
{    
    margin: 0;
    padding: 0;
    background-color: #3667a6;
}

body 
{
    box-sizing: border-box;
    margin 0;
}

body .header 
{
    margin: 2em 0px;
    padding: 0;
    height: 8rem;
    width: 100%;
    border-style: solid;
    border-color: rgb(228, 128, 15); 
    border-radius: 30px;
    background-color: rgb(228, 128, 15);
}


